# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.pub-cache/
.pub/
/build/
/coverage/

# Compiled executables
/gwm
/gwm.exe
